<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Рандомные сайты</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h3>Рандомные адреса YouTube</h3>
<span th:utext="${random1}"></span>
<span th:utext="${random2}"></span>
<span th:utext="${random3}"></span>
<span th:utext="${random4}"></span>
<span th:utext="${random5}"></span>
<span th:utext="${random6}"></span>
<span th:utext="${random7}"></span>
<span th:utext="${random8}"></span>
<span th:utext="${random9}"></span>
<span th:utext="${random10}"></span>
<span th:utext="${random11}"></span>
<span th:utext="${random12}"></span>
<span th:utext="${random13}"></span>
<span th:utext="${random14}"></span>
<span th:utext="${random15}"></span>
<span th:utext="${random16}"></span>
<span th:utext="${random17}"></span>
<span th:utext="${random18}"></span>
<span th:utext="${random19}"></span>
<span th:utext="${random20}"></span>
</body>
</html>
